body{
    background-color: black;
    color: aliceblue;
}

.imagem{
    width: 50%;
}



@media screen and  (min-width: 1024px) {

    body{
        background-color: rgb(199, 0, 0);
    }
     
}